/* --BEGIN RESET--
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    -webkit-text-size-adjust: 100%;
}


/*END RESET*/

/* ------------------- TYPOGRAPHY ------------------- */

@font-face {
    font-family: 'playtime';
    src: url('fonts/playtime-webfont.woff') format('woff'),
         url('fonts/playtime-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bitter';
    src: url('fonts/bitter-bold-webfont.woff') format('woff'),
         url('fonts/bitter-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



/* COLORS

    gold/yellow -- rgb(225,170,50);




*/



/* ------------------- BEGIN DEFAULT WIDTH (MINIMUM WIDTH IS DEFAULT) ------------------- */

/*basic*/

body{
	font-family:playtime;
	color:rgb(80,60,60);
	background-color:rgba(0,0,0,.75);
}

#body-wrap{
	vertical-align:top;
	width:100%;
	max-width:1080px;
	margin:auto;
}

body a {
	text-decoration: none;
	color:rgba(0,0,0,.5);
	text-shadow: .1em .1em 3px rgba(255,255,255,.4);
	
}

body a:hover{
	color:rgba(0,0,0,.65);
	text-shadow: 0em 0em 6px rgba(255,255,255,.9);

}

button{
	text-align:center;
	padding:10px;
	font-family:playtime;
	font-size:1.1em;
	background-color:rgb(225,170,50);
	border-style: none;
	border-radius:100px;
	color:rgb(80,60,60);
	letter-spacing: .04em;
	cursor:pointer;
}
button:hover{
	background-color:rgb(235,180,60);
	color:rgb(120,90,90);
	box-shadow: inset 0px -5px 0px rgba(0,0,0,.2);
}



/*log in screen*/

#block1{
	width:100%;
	display:block;
}
#block2{
	width:100%;
	display:block;
}

#login-wrap{
	width:70%;
	max-width:400px;
	margin:auto;
	background-color:rgb(225,170,50);
	margin-top:30px;
	padding-left:10%;
	padding-right:10%;
	padding-top:40px;
	padding-bottom:35px;
	text-align:center;
	border-radius:40px;
}

#logo{
	font-size:2.2em;
	text-shadow:.08em .08em 0em rgba(0,0,0,.4);
	color:rgb(255,255,222);
}

#login{
	margin-top:4px;
	font-size:1.3em;
	color:rgba(0,0,0,.55);
	margin-bottom:20px;
}

#error-alert{
	color:rgb(200,30,30);
	font-size:.93em;
	text-shadow: .05em .08em .1em rgba(255,255,255,.3);
	min-width:200px;
	width:100%;
	margin:auto;
}

#login-form{
	margin-top:10px;
	text-align:left;
}

.login-label{
	font-size:.95em;
}

.login-input{
	letter-spacing:.08em;
	padding:5px;
	padding-left:2.5%;
	padding-right:2.5%;
	border-radius:8px;
	width:95%;
	font-family:playtime;
	color:rgb(90,90,90);
	font-size:1.4em;
	margin-bottom:10px;
	border-style:none;
}

.login-input:active{

}

#login-button{
	text-align:center;
	width:60%;
	padding:10px;
	margin-left:20%;
	margin-right:20%;
	margin-top:20px;
	font-family:playtime;
	font-size:1.1em;
	background-color:rgba(255,255,255,.6);
	border-style: none;
	border-radius:100px;
	color:rgb(80,60,60);
	letter-spacing: .04em;
}

#login-button:hover{
	background-color:rgba(255,255,255,.8);
	cursor: pointer;
	color:rgb(100,80,80);
	box-shadow: inset 0px -5px 0px rgba(0,0,0,.1);
}

#register-link{
	margin-top:20px;
	font-size:1.1em;
	margin-top:56px;
}


/* lobby */

#logo-lobby-wrap-wrap{
	width:100%;
	background-color:rgb(225,170,50);
	border-bottom:2px solid rgba(0,0,0,.3);
}

#logo-lobby-wrap{
	width:90%;
	max-width:1000px;
	margin:auto;
}

#logo-lobby{
	font-size:1.4em;
	padding-top:7px;
	padding-bottom:5px;
	text-shadow:.12em .12em 0em rgba(0,0,0,.4);
	color:rgb(255,255,222);
}

#logout{
	float:right;
	font-size:1.1em;
	margin-top:2px;
	margin-top:-25px;
}

#logout:hover{
	color:rgba(0,0,0,.65);
}

#profile-wrap{
	width:90%;
	margin-left:5%;
	margin-right:5%;
	border-radius:10px;
	margin-top:20px;
	overflow: hidden;
	margin-bottom:30px;
}

#profile-table-wrap{
	width:90%;
	padding-left:5%;
	padding-right:5%;
	padding-top:5px;
	padding-bottom:10px;
	background-color:rgba(240,240,240,1);
}

#profile-table tr{
	font-size:1.2em;
	border-bottom:1px dashed rgba(0,0,0,.2);
	cursor:pointer;
}

#profile-table tr:hover{
	background-color:rgba(225,170,50,.2);
}

#profile-table tr:last-child{
	border-bottom:0px dashed rgba(0,0,0,.2);
}

#profile-table td{
	padding-top:3px;
	padding-bottom:3px;
}

#profile-table{
	width:100%;
	margin:auto;
	text-align:left;
}


#opponents-wrap{
	width:90%;
	margin-left:5%;
	margin-right:5%;
	border-radius:10px;
	margin-top:20px;
	overflow: hidden;
	margin-bottom:30px;
}

.lobby-header{
	background-color:rgba(225,170,50,.8);
	width:90%;
	padding-left:5%;
	padding-right:5%;
	padding-top:6px;
	padding-bottom:4px;
	font-size:.93em;
	border-bottom: 1px solid rgba(0,0,0,.2);
}



#opponents-table-wrap{
	width:90%;
	padding-left:5%;
	padding-right:5%;
	padding-top:5px;
	padding-bottom:10px;
	background-color:rgba(240,240,240,1);
}

#available-opponents-table-titles{
	width:100%;
	margin:auto;
	text-align:left;
	font-size:.96em;
	margin-bottom:5px;
	opacity:.7;
}

#available-opponents-table tr{
	font-size:1.2em;
	border-bottom:1px dashed rgba(0,0,0,.2);
	cursor:pointer;
}

#available-opponents-table tr:hover{
	background-color:rgba(225,170,50,.2);
}

#available-opponents-table tr:last-child{
	border-bottom:0px dashed rgba(0,0,0,.2);
}

#available-opponents-table td{
	padding-top:3px;
	padding-bottom:3px;
}

#available-opponents-table{
	width:100%;
	margin:auto;
	text-align:left;
}

#leaderboard-wrap{
	width:90%;
	margin-left:5%;
	margin-right:5%;
	border-radius:10px;
	margin-top:20px;
	overflow: hidden;
	margin-bottom:30px;
}

#leaderboard-table-wrap{
	width:90%;
	padding-left:5%;
	padding-right:5%;
	padding-top:5px;
	padding-bottom:10px;
	background-color:rgba(240,240,240,1);
}

#leaderboard-table tr{
	font-size:1.2em;
	border-bottom:1px dashed rgba(0,0,0,.2);
}

#leaderboard-table tr:last-child{
	border-bottom:0px dashed rgba(0,0,0,.2);
}

#leaderboard-table td{
	padding-top:3px;
	padding-bottom:3px;
}

#leaderboard-table{
	width:100%;
	margin:auto;
	text-align:left;
}


.table-rank{
	width:10%;
	text-align:center;
}

.table-name{
	text-align:left;
	width:60%;
}

.table-wins{
	width:10%;
	text-align:center;
}

.table-losses{
	width:10%;
	text-align:center;
}

#challenge-wrap{
	width:80%;
	margin-left:5%;
	margin-right:5%;
	border-radius:10px;
	overflow: hidden;
	margin-top:20px;
	margin-bottom:30px;
	background-color:rgba(240,240,240,1);
	padding-bottom: 10px;
	padding-top:10px;
	padding-left:5%;
	padding-right:5%;
}

#challenge-label{
	width:100%;
	font-size:1.2em;
}

#challenge-input{
	width:96%;
	border-style:none;
	padding-left:2%;
	padding-right:2%;
	padding-top:4px;
	padding-bottom:4px;
	text-align:center;
	font-family:playtime;
	font-size:1.4em;
	color:rgb(120,120,120);
	margin-top:6px;
	border-radius:20px;
	margin-bottom:10px;
}

#challenge-input:active, #challenge-input:hover{
	color:rgb(80,60,60);
}


#send-challenge{
	float:right;
}

.chat-header{
	background-color:rgba(225,170,50,.7);
	width:90%;
	padding-left:5%;
	padding-right:5%;
	padding-top:6px;
	padding-bottom:4px;
	font-size:.93em;
	border-bottom: 1px solid rgba(0,0,0,.3);
}

#chat-wrap{
	width:90%;
	margin-left:5%;
	margin-right:5%;
	border-radius:10px;
	margin-top:20px;
	overflow: hidden;
	margin-bottom:30px;
	background-color:rgba(240,240,240,1);
	padding-bottom: 10px;
}

#chat-container{
	width:90%;
	padding-left:5%;
	padding-right:5%;
	padding-top:10px;
	padding-bottom:10px;
	height:350px;
	overflow-y:scroll;
	overflow-x: hidden;
	border-bottom:2px solid rgba(0,0,0,.2);
}

#chat-container li{
	margin-bottom:5px;
	padding-bottom:3px;
	line-height: .9em;
}

#chat-input{
	width:90%;
	margin:auto;
}

#chat-text{
	width:94%;
	font-family: playtime;
	padding-left:3%;
	padding-right:3%;
	padding-top:10px;
	padding-bottom:10px;
	font-size:1.2em;
	color:rgb(80,60,60);
	border-radius:20px;
	box-shadow:inset 3px 3px 0px rgba(0,0,0,.3);
	border-style:none;
	margin-top:10px;

}
#chat-submit{
	margin-top:4px;
	float:right;
}




/*gameplay*/

#game-wrap{
	width:80%;
	max-width:600px;
	background-color:rgb(240,240,240);
	margin:auto;
	border-radius:10px;
	margin-top:20px;
	overflow:hidden;
	padding-left:5%;
	padding-right:5%;
	padding-top:10px;
	padding-bottom:30px;
}

#game-header{
	text-align:center;
	background-color:rgb(225,170,50);
	padding-top:10px;
	padding-bottom:10px;
	font-size:1.4em;
	border-bottom:2px solid rgba(0,0,0,.2);
}

#scoreboard{
	width:100%;
	text-align:center;
}

.scoreboard-name{
	display:inline-block;
	font-size:1.6em;
	margin-left:4px;
	margin-right:4px;
}

.scoreboard-dash{
	display:inline-block;
	font-size:1.6em;
	margin-left:3px;
	margin-right:3px;
}

.scoreboard-number{
	display:inline-block;
	font-size:2.4em;
	color:rgb(225,170,50);
	text-shadow: .085em .085em 0px rgba(0,0,0,.6);
}

#scoreboard-notification{
	width:50%;
	min-width:200px;
	margin:auto;
	margin-top:10px;
	padding-top:20px;
	padding-bottom:20px;
	font-size:2.2em;
	background-color:rgba(255,255,255,.7);
	border:3px solid rgba(0,0,0,.3);
	border-radius:30px;
	box-shadow: inset -5px 3px 0px rgba(0,0,0,.2);
	overflow:hidden;
}

#guessesWrap{
	text-align:center;
	margin-top:-10px;
	margin-bottom:15px;
}

#guessesLeftLabel{
	text-align:center;
	display:inline;
	font-size:1.1em;
}

#guessesLeft{
	text-align:center;
	display:inline;
	font-size:1.7em;
	margin-left:3px;
	color:rgb(175,70,50);
	text-shadow: .07em .07em 0px rgba(0,0,0,.5);
}

#letters-wrap{
	background-color:rgba(255,255,255,.7);
	box-shadow: inset 0px -5px 0px rgba(0,0,0,.2);
	width:90%;
	margin:auto;
	max-width:420px;
	padding-left:5%;
	padding-right:5%;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
	border-radius:10px;
}

.letter{
	display:inline-block;
	font-size:1.4em;
	cursor: pointer;
	padding:.27em;
}

.letter:hover{
	background-color:rgba(225,170,50,.8);	
}

.avail{
	opacity:1;
}

.tried{
	opacity:.6;
	text-decoration: line-through;
	color:rgb(200,50,50);
}

.tried:hover{
	background-color:rgba(0,0,0,0);
}

.correct{
	opacity:.6;
	text-decoration: none;
	color:rgb(30,130,30);
}

.correct:hover{
	background-color:rgba(0,0,0,0);
}

.answer-wrap{
	
}

#answer-letter-list{
	font-size:2em;
	width:100%;
	text-align:center;
	margin-top:30px;
}

.answer-letter{
	display:inline;
	margin:.1em;
}

#new-word-input-wrap{
	width:100%;
	margin:auto;
	margin-top:30px;
	border-top:2px dashed rgba(0,0,0,.3);
	text-align:center;
	padding-top:20px;
}

#new-word-input input{
	padding:10px;
	border-style:none;
	border-radius:30px;
	font-family:playtime;
	font-size:1.3em;
	color:rgba(0,0,0,.7);
	
}

#hangman-wrap{
	margin:auto;
	margin-top:10px;
	margin-bottom:10px;
	height:220px;
	width:290px;
	position:relative;
}

.noose-object{
	background-color:rgb(225,170,50);
	position:absolute;
	border-radius:5px;
}

.hangman-object{
	background-color:rgb(170,170,170);
	border: solid 2px rgba(0,0,0,.5);
	position:absolute;
	border-radius:15px;
	box-shadow: inset -3px -3px 4px rgba(0,0,0,.5), inset 3px 3px 0px rgba(255,255,255,.8), inset -3px -3px 0px rgba(255,255,255,.8), inset 3px -3px 0px rgba(255,255,255,.8), inset -3px 3px 0px rgba(255,255,255,.8);
;}

#noose-poll{
	width: 15px;
	height: 175px;
	top: 15px;
	left: 180px;
	box-shadow: inset 3px 0px 0px rgba(0,0,0,.3);
}

#noose-bar{
	width: 90px;
	height: 12px;
	top: 10px;
	left: 120px;
	box-shadow: inset 3px -2px 0px rgba(0,0,0,.3);
	z-index:101;
}

#noose-rope{
	position:absolute;
	width: 0px;
	height: 30px;
	top: 20px;
	left: 130px;
	border-left:4px dotted rgb(225,170,50);
}

#noose-base{
	width: 160px;
	height: 20px;
	top: 180px;
	left: 74px;
	box-shadow: inset 3px -3px 0px rgba(0,0,0,.3);
}

.lostLimb{
	background-color:rgba(175,30,50,1);
}

.correctWord{
	background-color:rgba(60,160,80,1);
}

#man-0{
	width: 30px;
	height: 30px;
	top: 50px;
	left: 117px;
}

#man-1{
	width: 28px;
	height: 13px;
	top: 82px;
	left: 100px;
}

#man-2{
	width: 28px;
	height: 13px;
	top: 82px;
	left: 136px;
	
}

#man-3{
	width: 28px;
	height: 48px;
	top: 82px;
	left: 118px;
	border-radius:5px;
	z-index:100;
}

#man-4{
	width: 12px;
	height: 46px;
	top: 122px;
	left: 118px;
}


#man-5{
	width: 12px;
	height: 46px;
	top: 122px;
	left: 134px;
}

#eye1{
	position:absolute;
	background-color:rgba(0,0,0,.7);
	width:8px;
	height:8px;
	top:62px;
	left:124px;
	border-radius: 0px 0px 6px 6px ;
}

#eye2{
	position:absolute;
	background-color:rgba(0,0,0,.7);
	width:8px;
	height:8px;
	top:62px;
	left:135px;
	border-radius: 0px 0px 6px 6px ;
}

.noshow{
	display:none;
}

.show{
	display:block;
}

/* ------------------------------- BEGIN MEDIUM WIDTH ------------------------------- */
@media only screen and (min-width: 650px) {
    #block1{
	width:60%;
	display:inline-block;
	vertical-align:top;
	}
	#block2{
		width:39%;
		display:inline-block;
		vertical-align:top;
	
	}
}



/* ------------------------------- BEGIN LARGE WIDTH ------------------------------- */
@media only screen and (min-width: 950px) {    
    
    
}